/* You can add global styles to this file, and also import other style files */
html{
    height: 100%;
    width: 100%;
    margin: 0;
}
body{
	background: linear-gradient(-45deg, #2af598,#6a11cb, #009efd,#2575fc);
    /* background: linear-gradient(-45deg, #ffe2cd, #fec2e7, #c9e7ff, #86fef4); */
    background-size: 400% 400%;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    animation: Gradient 50s ease infinite;
}
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}